@model LikesAndComments.Models.Register

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>
    <link rel="stylesheet" href="~/Content/Registration/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/Registration/css/style.css">
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
            <!-- Font Icon -->
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="main">

                <section class="signup">
                    <!-- <img src="images/signup-bg.jpg" alt=""> -->
                    <div class="container">
                        <div class="signup-content">
                            <form method="POST" id="signup-form" class="signup-form">
                                <h2 class="form-title">Create account</h2>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-input" ,@name = "name" ,@id = "name" ,@placeholder = "First Name" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class="form-input", @name = "name", @id = "name", @placeholder = "Last Name" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    Gender
                                    @Html.RadioButtonFor(model => model.Gender, "Male") Male
                                    @Html.RadioButtonFor(model => model.Gender, "Female") Female
                                    
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-input" ,@name = "email" ,@id = "email" ,@placeholder = "Your Email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    
                                </div>

                                <div class="form-group">
                                    @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-input" ,@placeholder="Phone Number" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-input" ,@name = "password" ,@id = "password" ,@placeholder = "Password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    
                                    <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-input", @name = "re_password", @id = "re_password", @placeholder = "Repeat your password" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                                    <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                    <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                                </div>
                                <div class="form-group">
                                    
                                    <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up" />
                                </div>
                            </form>
                            <p class="loginhere">
                                Have already an account ?@Html.ActionLink("Login here", "login", "Registers", htmlAttributes: new { @class = "loginhere-link" })                                
                            </p>
                        </div>
                    </div>
                </section>

            </div>

            <!-- JS -->
            <script src="~/Content/Registration/vendor/jquery/jquery.min.js"></script>
            <script src="~/Content/Registration/js/main.js"></script>
    
    @*<div class="form-horizontal">
            <h4>Register</h4>
            <hr />
            
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    
                </div>
            </div>
        </div>*@
}

</body>
</html>
